html, body{
    border:0;
    margin:0;
    padding: 0;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li > a{
    color:white;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color:maroon;
    text-decoration:underline;
}
li{
    list-style-type: none;
    padding: 0 10px 0 10px;
}
body{
    display:flex;
    flex-direction: column;
}
.back-image{
    width: 100%;
    height: 300px;
    background-image: url("images/header.svg"); 
    background-repeat: no-repeat;  
    background-attachment: fixed;
    background-size:cover;
}
.company-info{
    display: flex;
    flex-direction: column;
    line-height: 0;
    padding-left: 1.2em;
    float: left;
}
.company-name{
    color:maroon;
}
.company-desc{
}
nav > ul {
    padding-right: 10px;
}
nav > ul > li{
    display: inline-block;
    float: right;
}
.info{
    text-align: center;
    padding:0 10px 0 10px;
    color:#646464;
}
.html{
    background-color:orange;
}
.css{
    background-color:lightgray;
}
.javascript{
    background-color: blue;
}
.php{
    background-color: lightslategrey;
}
.java{
    background-color: limegreen;
}
.sql{
    background-color: purple;
}
.android{
    background-color: peru;
}
article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    background-color: lightgray;
    border-radius: 10px;
    border-bottom: 2px solid gray;
    box-shadow: 4px 4px 4px 4px lightgoldenrodyellow;
    padding:10px;
}
article + article{
    margin-top: 10px;
}
.about{
    width: 94%;
    margin: auto;
    background-color: whitesmoke;
    box-shadow: 4px 4px 4px 4px lightgoldenrodyellow;
    border-radius: 10px;
    padding:10px;
}
.about > h3{
    text-align: center;
}
.contact-form{
    display: flex;
    flex-direction: column;
}
.forminput{
    display: flex;
    flex-direction: column;
    padding:5px;
}
.forminput > input{
    height: 30px;
    border:none;
    border-radius: 8px;
    margin-top: 4px;
    padding-left: 5px;
}
.forminput > textarea{
    border:none;
    border-radius: 8px;
    padding: 5px 5px 5px 10px;
}
.forminput > button{
    border:none;
    border-radius: 8px;
    height: 35px;
    background-color: green;
    color:white;
}
.forminput > button:hover{
    color:blue;
    font-weight: bold;
}
@media (max-width:782){
    .about{
        width: 60%;
        margin: auto;
    }
}
@media (max-width: 782px){
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
}
.article-image{
    max-height: 200px;
}
.article-body > ul > li{
    text-align: center;
}
footer{
    margin-top:20px;
    margin-bottom:10px;
    font-size: 14px;
    text-align: center;
}